* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border: 2px black solid;
  padding: 20px;
  text-align: center;
}

.btn {
  outline: none;
  border: none;
  padding: 8px 15px;
  border-radius: 2px;
  margin: 0 5px;
  cursor: pointer;
}

.remove {
  background: rgba(255, 0, 0, 0.566);
  color: white;
}

.save {
  background: rgba(0, 128, 0, 0.789);
  color: white;
}

.update {
  background: rgba(202, 202, 17, 0.768);
}
